header nav a,
header nav button {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

header nav button {
    border: none;
    color: #0d6efd;
    background-color: white;
}

header nav a:hover {
    color: black;
}